<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pop0.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{28,28}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,74},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,31},{38,38}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pop2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{52,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pop3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{68,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pop.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb679e149445e979e755efeb27781614$</string>
            <key>textureFileName</key>
            <string>pop.pvr.ccz</string>
        </dict>
    </dict>
</plist>
